body {
  background: #000;
}

path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
}

.ribs {
  fill: #eed;
  stroke: #ffe;
  stroke-width: 3px;
  stroke-linecap: round;
}

.legs, .plate {
  fill: #fff;
  stroke: #aa7;
  stroke-width: 2px;
  stroke-linecap: round;
}

.spine, .hands, .head {
  fill: #fff;
  stroke: #444;
  stroke-width: 2px;
  stroke-linecap: round;
}

.eyes {
  fill: #000;
  stroke: #333;
  stroke-width: 2px;
}

#words {
   color: #fff;
   margin: auto;
   width: 30%;
}